clickup-sprints-backup-v2.json
{
  "name": "ClickUp Sprints Backup v2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "value": "0 2 * * *"
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Daily Backup Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "folder",
        "operation": "getAll",
        "team": "42092860",
        "space": "90153332732",
        "filters": {}
      },
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "id": "get-folders",
      "name": "Get Folders",
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "clickup-oauth-credentials",
          "name": "ClickUp OAuth2"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "list",
        "operation": "getAll",
        "team": "42092860",
        "space": "90153332732",
        "filters": {}
      },
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        460,
        500
      ],
      "id": "get-lists",
      "name": "Get Lists",
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "clickup-oauth-credentials",
          "name": "ClickUp OAuth2"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "sprint",
        "operation": "getAll",
        "team": "42092860",
        "space": "90153332732",
        "filters": {}
      },
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        460,
        700
      ],
      "id": "get-sprints",
      "name": "Get Sprints",
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "clickup-oauth-credentials",
          "name": "ClickUp OAuth2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the current time for the backup\nconst now = new Date().toISOString();\nconst timestamp = now.replace(/[:.]/g, '-');\n\n// Collect all data from different nodes\nconst folders = $('Get Folders').all();\nconst lists = $('Get Lists').all();\nconst sprints = $('Get Sprints').all();\n\n// Create comprehensive backup data\nconst backupData = {\n  timestamp: now,\n  backupInfo: {\n    totalFolders: folders.length,\n    totalLists: lists.length,\n    totalSprints: sprints.length,\n    backupDate: now,\n    spaceId: '90153332732',\n    teamId: '42092860'\n  },\n  folders: folders.map(folder => folder.json),\n  lists: lists.map(list => list.json),\n  sprints: sprints.map(sprint => sprint.json)\n};\n\nconst filename = `clickup-sprints-backup-${timestamp}.json`;\n\nreturn {\n  json: {\n    filename: filename,\n    content: JSON.stringify(backupData, null, 2),\n    mimeType: 'application/json'\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        500
      ],
      "id": "create-backup",
      "name": "Create Backup File"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        900,
        500
      ],
      "id": "convert-to-file",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "16ZPNnvvBNMW2X5HceZ8eWmzgIdrrjFeG",
          "mode": "list",
          "cachedResultName": "test-automation",
          "cachedResultUrl": "https://drive.google.com/drive/folders/16ZPNnvvBNMW2X5HceZ8eWmzgIdrrjFeG"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1120,
        500
      ],
      "id": "upload-to-drive",
      "name": "Upload to Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "google-drive-credentials",
          "name": "Google Drive OAuth2"
        }
      }
    },
    {
      "parameters": {
        "content": "✅ ClickUp Sprints backup completed successfully!\n\n📊 **Backup Summary:**\n- Folders: {{ $('Create Backup File').item.json.content | fromJson | get('backupInfo.totalFolders') }}\n- Lists: {{ $('Create Backup File').item.json.content | fromJson | get('backupInfo.totalLists') }}\n- Sprints: {{ $('Create Backup File').item.json.content | fromJson | get('backupInfo.totalSprints') }}\n- File: {{ $('Create Backup File').item.json.filename }}\n- Uploaded to Google Drive: ✅\n\n⏰ **Next backup:** Tomorrow at 2:00 AM",
        "options": {}
      },
      "id": "success-notification",
      "name": "Success Notification",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1340,
        500
      ]
    }
  ],
  "connections": {
    "Daily Backup Trigger": {
      "main": [
        [
          {
            "node": "Get Folders",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Lists",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Sprints",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Folders": {
      "main": [
        [
          {
            "node": "Create Backup File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Lists": {
      "main": [
        [
          {
            "node": "Create Backup File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Sprints": {
      "main": [
        [
          {
            "node": "Create Backup File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Backup File": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Upload to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Google Drive": {
      "main": [
        [
          {
            "node": "Success Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}